<h1>Blog Entries</h1>

<table class="blog-entries-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Excerpt</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @blog_entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, blog_entry_path(entry) %></td>
        <td><%= truncate(entry.content, length: 100) %></td>
        <% if logged_in? %>
          <td>
            <%= link_to edit_blog_entry_path(entry) do %>
              <%= image_tag('edit.png', alt: 'Edit', class: 'icon') %>
            <% end %>
            <%= link_to blog_entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-blog" do %>
              <%= image_tag('trash.png', alt: 'Delete', class: 'icon') %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in? %>
  <%= link_to 'New Blog Entry', new_blog_entry_path, class: 'new-entry-link' %>
<% end %>
