<h1>New Blog Entry</h1>

<%= form_with(model: @blog_entry, local: true) do |form| %>
  <% if @blog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_entry.errors.count, "error") %> prohibited this blog entry from being saved:</h2>
      <ul>
        <% @blog_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Blog Entry' %>
  </div>
<% end %>

<%= link_to 'Back', blog_entries_path %>
