<h1 class="form-title">New Blog Entry</h1>

<%= form_with(model: @blog_entry, local: true, class: "blog-entry-form") do |form| %>
  <% if @blog_entry.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(@blog_entry.errors.count, "error") %> prohibited this blog entry from being saved:</h2>
      <ul>
        <% @blog_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-input" %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Blog Entry', class: "form-submit" %>
  </div>
<% end %>

<%= link_to 'Back', blog_entries_path, class: "back-link" %>
