<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'home', media: 'all' %>
    <%= stylesheet_link_tag 'blog', media: 'all' %>
    <%= stylesheet_link_tag 'footer', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="navigation-wrapper">
      <ul id="navigation">
        <li class="nav-items"><a href=<%= home_path %>>Home</a></li>
        <li class="nav-items"><a href=<%= blog_entries_path %>>Blogs</a></li>
        <li class="nav-items"><a href=<%= about_path %>>About</a></li>
        <li class="nav-items"><a href=<%= new_lead_path %>>Contact</a></li>
        <% if logged_in? %> 
          <li class="nav-items"><a href=<%= leads_path %>>Leads</a></li>
        <% end %>

          <div><span id="search-text">Search:</span> <input type="text" class="search-input">
        </div>
      </ul>
    </div>
    <%= yield %>
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; <%= Date.today.year %> James-Ryan's Technical Blog. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
